<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqjk.third.mapper.AppThirdChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="AppThirdChannelResult" type="com.lqjk.third.beans.AppThirdChannel">
        <id column="id" property="id" />
        <result column="channel" property="channel" />
        <result column="channel_name" property="channelName" />
        <result column="disabled" property="disabled" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectAppThirdChannelVo">
     select id, channel, channel_name, disabled, create_by, create_date, update_by, update_date from app_third_channel
    </sql>

    <select id="selectById" parameterType="Long" resultMap="AppThirdChannelResult">
        <include refid="selectAppThirdChannelVo"/>
        where id = #{id}
    </select>

    <select id="selectByAppThirdChannel" parameterType="com.lqjk.third.beans.AppThirdChannel" resultMap="AppThirdChannelResult">
        <include refid="selectAppThirdChannelVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="channel != null and channel != ''"> and channel = #{channel}</if>
            <if test="channelName != null and channelName != ''"> and channel_name = #{channelName}</if>
            <if test="disabled != null "> and disabled = #{disabled}</if>
            <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.lqjk.third.beans.AppThirdChannel">
        insert into app_third_channel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="channel != null">channel,</if>
            <if test="channelName != null">channel_name,</if>
            <if test="disabled != null">disabled,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateDate != null">update_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="channel != null">#{channel},</if>
            <if test="channelName != null">#{channelName},</if>
            <if test="disabled != null">#{disabled},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateDate != null">#{updateDate},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.lqjk.third.beans.AppThirdChannel">
        update app_third_channel
        <trim prefix="SET" suffixOverrides=",">
            <if test="channel != null">channel = #{channel},</if>
            <if test="channelName != null">channel_name = #{channelName},</if>
            <if test="disabled != null">disabled = #{disabled},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from app_third_channel where id = #{id}
    </delete>

    <select id="selectByChannel" resultMap="AppThirdChannelResult">
        SELECT * FROM app_third_channel WHERE channel=#{channel,jdbcType=VARCHAR}
    </select>
</mapper>
