<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqjk.third.mapper.BusTakeRecordMapper">

    <resultMap id="BaseResultMap" type="com.lqjk.third.beans.BusTakeRecord" >
   		<result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="trans_order_no" property="transOrderNo" />
        <result column="trans_date" property="transDate" />
        <result column="trans_time" property="transTime" />
        <result column="trans_line" property="transLine" />
        <result column="status" property="status" />
        <result column="disable" property="disable" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="city" property="city" />
        <result column="longevity_chain_flag" property="longevityChainFlag" />
        <result column="third_channel" property="thirdChannel" />
        <result column="team_no" property="teamNo" />
    </resultMap>

    <sql id="Base_Column_List">
    			id,
                user_id,
                trans_order_no,
                trans_date,
                trans_time,
                trans_line,
                status,
                disable,
                create_time,
                update_time,
                city,
                third_channel,
                team_no
    </sql>

    <insert id="insert"  parameterType="com.lqjk.third.beans.BusTakeRecord" useGeneratedKeys = "true" keyProperty = "id">
        INSERT INTO bus_take_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != userId and '' != userId">
                user_id,
            </if>
            <if test="null != transOrderNo and '' != transOrderNo">
                trans_order_no,
            </if>
            <if test="null != transDate and '' != transDate">
                trans_date,
            </if>
            <if test="null != transTime and '' != transTime">
                trans_time,
            </if>
            <if test="null != transLine and '' != transLine">
                trans_line,
            </if>
            <if test="null != status and '' != status">
                status,
            </if>
            <if test="null != disable and '' != disable">
                disable,
            </if>
            <if test="null != createTime">
                create_time,
            </if>
            <if test="null != updateTime">
                update_time,
            </if>
            <if test="null != city and '' != city">
                city,
            </if>
            <if test="null != carbon ">
                carbon,
            </if>
            <if test="null != appChannel ">
                app_channel,
            </if>
            <if test="null != userNo ">
                user_no,
            </if>
            <if test="null != teamNo ">
                team_no,
            </if>
            <if test="null != thirdChannel ">
                third_channel,
            </if>
            <if test="source != null and source != ''">
                source,
            </if>
            <if test="null != longevityChainFlag and '' != longevityChainFlag">
                longevity_chain_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != userId and '' != userId">
                #{userId},
            </if>
            <if test="null != transOrderNo and '' != transOrderNo">
                #{transOrderNo},
            </if>
            <if test="null != transDate and '' != transDate">
                #{transDate},
            </if>
            <if test="null != transTime and '' != transTime">
                #{transTime},
            </if>
            <if test="null != transLine and '' != transLine">
                #{transLine},
            </if>
            <if test="null != status and '' != status">
                #{status},
            </if>
            <if test="null != disable and '' != disable">
                #{disable},
            </if>
            <if test="null != createTime">
                #{createTime},
            </if>
            <if test="null != updateTime">
                #{updateTime},
            </if>
            <if test="null != city and '' != city">
                #{city},
            </if>
            <if test="null != carbon">
                #{carbon},
            </if>
            <if test="null != appChannel ">
                #{appChannel},
            </if>
            <if test="null != userNo ">
               #{userNo},
            </if>
            <if test="null != teamNo">
                #{teamNo},
            </if>
            <if test="null != thirdChannel ">
                #{thirdChannel},
            </if>
            <if test="source != null and source != ''">
                #{source},
            </if>
            <if test="null != longevityChainFlag and '' != longevityChainFlag">
                #{longevityChainFlag},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.lqjk.third.beans.BusTakeRecord" >
        UPDATE bus_take_record
        <set>
            <if test="null != userId and '' != userId">user_id = #{userId},</if>
            <if test="null != transOrderNo and '' != transOrderNo">trans_order_no = #{transOrderNo},</if>
            <if test="null != transDate and '' != transDate">trans_date = #{transDate},</if>
            <if test="null != transTime and '' != transTime">trans_time = #{transTime},</if>
            <if test="null != transLine and '' != transLine">trans_line = #{transLine},</if>
            <if test="null != status and '' != status">status = #{status},</if>
            <if test="null != disable and '' != disable">disable = #{disable},</if>
            <if test="null != createTime">create_time = #{createTime},</if>
            <if test="null != updateTime">update_time = #{updateTime},</if>
            <if test="null != city and '' != city">city = #{city}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM bus_take_record
        WHERE trans_order_no = #{orderNo}
    </select>

    <!--上链相关-->
 	<select id="queryInfoList" resultMap="BaseResultMap" parameterType="com.lqjk.third.beans.BusTakeRecord" >
        SELECT <include refid="Base_Column_List" />
        FROM bus_take_record
        WHERE (longevity_chain_flag='02' or longevity_chain_flag='04')
        <if test=" currentDate != null and  currentDate != '' ">
        	 <![CDATA[AND to_char(create_time,'yyyyMMdd') = #{currentDate}]]>
        </if>
        AND app_channel = #{appChannel}
        Limit 500
    </select>

      <select id="loadById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM bus_take_record
        WHERE id = #{id}
    </select>
    
    <update id="updateLongevityChainFlag" parameterType="com.lqjk.third.beans.BusTakeRecord" >
        UPDATE bus_take_record
        <set>
        	longevity_chain_flag = #{longevityChainFlag}
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateStatus" parameterType="com.lqjk.third.beans.BusTakeRecord" >
        UPDATE bus_take_record
        <set>
        	status = #{status}
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectStatsData" resultType="java.util.HashMap">
        select COALESCE(count(*), 0)         count,
               COALESCE(sum(m.carbon), 0) as carbon
        from bus_take_record m
        where m.user_id = #{ownerId,jdbcType=BIGINT}
          and m.trans_date >= #{createdTime,jdbcType=VARCHAR}
    </select>
    <select id="sumCarbon" resultType="java.lang.Long">
        select
               COALESCE(sum(m.carbon), 0) as carbon
        from bus_take_record m
        where m.user_id = #{ownerId,jdbcType=BIGINT} and app_channel='qtx'
         <if test="source != null and source != ''">
            and source=#{source}
        </if>
    </select>

</mapper>