<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqjk.third.mapper.CarbonAssetsUserInfoMapper">

    <resultMap id="BaseResultMap" type="com.lqjk.third.beans.CarbonAssetsUserInfoChannel" >
        <result column="id" property="id" />
        <result column="owner_id" property="ownerId" />
        <result column="total_carbon_assets_gram" property="totalCarbonAssetsGram" />
        <result column="balance_carbon_assets_gram" property="balanceCarbonAssetsGram" />
        <result column="carbon_assets_type_code" property="carbonAssetsTypeCode" />
        <result column="total_carbon_assets_amt" property="totalCarbonAssetsAmt" />
        <result column="create_date" property="createDate" />
        <result column="last_update_date" property="lastUpdateDate" />
        <result column="total_qdmetro" property="totalQdmetro" />
        <result column="app_channel" property="appChannel" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        owner_id,
        total_carbon_assets_gram,
        balance_carbon_assets_gram,
        carbon_assets_type_code,
        total_carbon_assets_amt,
        create_date,
        last_update_date,
        total_qdmetro,
        app_channel
    </sql>

    <select id="generalQuery" parameterType="com.lqjk.third.beans.CarbonAssetsUserInfo" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM carbon_assets_user_info
        <where>
            <if test="null != id and '' != id">id = #{id}</if>
            <if test="null != ownerId and '' != ownerId">and owner_id = #{ownerId}</if>
            <if test="null != totalCarbonAssetsGram and '' != totalCarbonAssetsGram">and total_carbon_assets_gram = #{totalCarbonAssetsGram}</if>
            <if test="null != balanceCarbonAssetsGram and '' != balanceCarbonAssetsGram">and balance_carbon_assets_gram = #{balanceCarbonAssetsGram}</if>
            <if test="null != carbonAssetsTypeCode and '' != carbonAssetsTypeCode">and carbon_assets_type_code = #{carbonAssetsTypeCode}</if>
            <if test="null != totalCarbonAssetsAmt and '' != totalCarbonAssetsAmt">and total_carbon_assets_amt = #{totalCarbonAssetsAmt}</if>
            <if test="null != createDate">and create_date = #{createDate}</if>
            <if test="null != lastUpdateDate and '' != lastUpdateDate">and last_update_date = #{lastUpdateDate}</if>
            <if test="null != appChannel and '' != appChannel">and app_channel = #{appChannel}</if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.lqjk.third.beans.CarbonAssetsUserInfo">
        INSERT INTO carbon_assets_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="null != ownerId and '' != ownerId">
                        owner_id,
                        </if>
                        <if test="null != totalCarbonAssetsGram and '' != totalCarbonAssetsGram">
                        total_carbon_assets_gram,
                        </if>
                        <if test="null != balanceCarbonAssetsGram and '' != balanceCarbonAssetsGram">
                        balance_carbon_assets_gram,
                        </if>
                        <if test="null != carbonAssetsTypeCode and '' != carbonAssetsTypeCode">
                        carbon_assets_type_code,
                        </if>
                        <if test="null != totalCarbonAssetsAmt and '' != totalCarbonAssetsAmt">
                        total_carbon_assets_amt,
                        </if>
                        <if test="null != createDate">
                        create_date,
                        </if>
                        <if test="null != lastUpdateDate">
                        last_update_date,
                        </if>
                        <if test="null != appChannel">
                        app_channel,
                        </if>
                        <if test="null != userNo">
                        user_no
                        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                        <if test="null != ownerId and '' != ownerId">
                        #{ownerId},
                        </if>
                        <if test="null != totalCarbonAssetsGram and '' != totalCarbonAssetsGram">
                        #{totalCarbonAssetsGram},
                        </if>
                        <if test="null != balanceCarbonAssetsGram and '' != balanceCarbonAssetsGram">
                        #{balanceCarbonAssetsGram},
                        </if>
                        <if test="null != carbonAssetsTypeCode and '' != carbonAssetsTypeCode">
                        #{carbonAssetsTypeCode},
                        </if>
                        <if test="null != totalCarbonAssetsAmt and '' != totalCarbonAssetsAmt">
                        #{totalCarbonAssetsAmt},
                        </if>
                        <if test="null != createDate">
                        #{createDate},
                        </if>
                        <if test="null != lastUpdateDate">
                        #{lastUpdateDate},
                        </if>
                        <if test="null != appChannel">
                        #{appChannel},
                        </if>
                        <if test="null != userNo">
                        #{userNo}
                        </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM carbon_assets_user_info
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.lqjk.third.beans.CarbonAssetsUserInfo">
        UPDATE carbon_assets_user_info
        <set>
            <if test="null != ownerId and '' != ownerId">owner_id = #{ownerId},</if>
            <if test="null != totalCarbonAssetsGram and '' != totalCarbonAssetsGram">total_carbon_assets_gram = #{totalCarbonAssetsGram},</if>
            <if test="null != balanceCarbonAssetsGram and '' != balanceCarbonAssetsGram">balance_carbon_assets_gram = #{balanceCarbonAssetsGram},</if>
            <if test="null != carbonAssetsTypeCode and '' != carbonAssetsTypeCode">carbon_assets_type_code = #{carbonAssetsTypeCode},</if>
            <if test="null != totalCarbonAssetsAmt and '' != totalCarbonAssetsAmt">total_carbon_assets_amt = #{totalCarbonAssetsAmt},</if>
            <if test="null != createDate">create_date = #{createDate},</if>
            <if test="null != lastUpdateDate">last_update_date = #{lastUpdateDate}</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateExchange" parameterType="com.lqjk.third.beans.CarbonAssetsUserInfo">
        UPDATE carbon_assets_user_info
        SET
        <!--剩余碳资产-->
        balance_carbon_assets_gram = balance_carbon_assets_gram - #{balanceCarbonAssetsGram},
        <!--累计兑换金额-->
        <if test="totalCarbonAssetsAmt != null">
            total_carbon_assets_amt = total_carbon_assets_amt + #{totalCarbonAssetsAmt},
        </if>
        last_update_date = #{lastUpdateDate}
        WHERE owner_id = #{ownerId} AND carbon_assets_type_code = #{carbonAssetsTypeCode}
    </update>

    <update id="add" parameterType="com.lqjk.third.beans.CarbonAssetsUserInfo">
        UPDATE carbon_assets_user_info
        set
        <!--累计碳资产-->
        total_carbon_assets_gram = total_carbon_assets_gram + #{totalCarbonAssetsGram},
        <!--累计碳资产-->
        real_total_carbon_assets_gram = real_total_carbon_assets_gram + #{realTotalCarbonAssetsGram},
        <!--剩余碳资产-->
        balance_carbon_assets_gram = balance_carbon_assets_gram + #{balanceCarbonAssetsGram},

        <if test="totalQdmetro != null">
            total_qdmetro = total_qdmetro + #{totalQdmetro,jdbcType=DECIMAL},
        </if>
        last_update_date = #{lastUpdateDate}

        WHERE owner_id = #{ownerId}
          and carbon_assets_type_code = #{carbonAssetsTypeCode}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM carbon_assets_user_info
        WHERE id = #{id}
    </select>
</mapper>