<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqjk.third.mapper.CarbonAssetsRecordH5Mapper">



<select id="getCarbon" resultType="java.util.Map">
    SELECT source_code,sum(real_carbon_assets) carbon from carbon_assets_record_h5 where owner_id = #{ownerId} and source_code in ('01','05')
    group by source_code
</select>
</mapper>