<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqjk.third.mapper.CommunityTaskMapper">
    <resultMap id="BaseResultMap" type="com.lqjk.third.beans.CommunityTask" >
        <id column="id" property="id" />
        <result column="task_desc" property="taskDesc" />
        <result column="task_title" property="taskTitle" />
        <result column="task_reward" property="taskReward" />
        <result column="reward_rules" property="rewardRules" />
        <result column="reward_limit" property="rewardLimit" />
        <result column="task_type" property="taskType" />
        <result column="create_time" property="createTime" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="disable" property="disable" />
        <result column="record_id" property="recordId" />
        <result column="fun_desc" property="funDesc" />
        <result column="link_url" property="linkUrl" />
        <result column="logo" property="logo" />
        <result column="scene" property="scene" />
        <result column="sort" property="sort" />
        <result column="need_permission" property="needPermission" />
        <result column="alert_title" property="alertTitle" />
        <result column="alert_desc" property="alertDesc" />
        <result column="reward_desc" property="rewardDesc" />
        <result column="scheme" property="scheme" />
        <result column="jump_type" property="jumpType" />
        <result column="jump_link" property="jumpLink" />
        <result column="remark" property="remark" />
        <result column="gif_code" property="gifCode" />
        <result column="title_font_color" property="titleFontColor" />
        <result column="immersion_flag" property="immersionFlag" />
        <result column="image" property="image" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
                task_desc,
                task_title,
                task_reward,
                reward_rules,
                reward_limit,
                task_type,
                create_time,
                start_date,
                end_date,
                disable,
                fun_desc,
                link_url,
        logo,
        scene,
        sort,
        need_permission,
        reward_desc,
        alert_title,
        alert_desc,
        jump_type,
        jump_link,
        remark,
        gif_code,
        title_font_color
    </sql>

    <sql id="param">
                t1.id,
                t1.task_desc,
                t1.task_title,
                t1.task_reward,
                t1.reward_rules,
                t1.reward_limit,
                t1.task_type,
                t1.create_time,
                t1.start_date,
                t1.end_date,
                t1.scene,
                t1.sort,
                t1.disable,
                t1.fun_desc,
                t1.link_url,
                t1.logo,
                t1.need_permission,
                t1.scheme,
                t1.alert_title,
                t1.alert_desc,
        t1.reward_desc,
        t1.jump_type,
        t1.jump_link,
        t1.remark,
        t1.gif_code,
        t1.immersion_flag,
        t1.status_bar_color,
        t1.title_font_color,
        t1.image
    </sql>

    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM community_task
        WHERE id = #{id} and app_channel =#{appChannel}
    </select>

    <select id="queryList" resultMap="BaseResultMap">
        SELECT distinct <include refid="param" />
        <if test="null != ownerId">
        ,t2.record_id
        </if>
        FROM community_task t1
        <if test="null != ownerId">
            left join (SELECT ID record_id,task_id FROM community_task_record WHERE owner_id = #{ownerId}) t2 on t1.id = t2.task_id
        </if>
        , community_task_area t3
        where t1.disable = false
        and t1.task_type = #{taskType}
        and t1.type = #{type}
        <if test="beginning == null or beginning==''">
            and to_char(t1.start_date,'yyyy-MM-dd') <![CDATA[<=]]> #{date}
            and to_char(t1.end_date,'yyyy-MM-dd') >= #{date}
        </if>
        and t1.id = t3.task_id
        and (t3.area_code = #{areaCode} or t3.area_code = '0000' or t3.area_code = '9999')
        and t3.state = '1'
        and (t1.app_channel = #{appChannel} or t1.app_channel ='all')
        <if test="newUserFlag == false">
            AND t1.id != 'NEW_USER_01'
        </if>
        <if test="beginning == '1'.toString() ">
            and to_char(t1.end_date,'yyyy-MM-dd') >= #{date}
        </if>
        <if test="beginning == '2'.toString() ">
            and to_char(t1.end_date,'yyyy-MM-dd') <![CDATA[<=]]> #{date}
        </if>
        order by sort
    </select>

    <select id="queryUsableTask" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM community_task
        where disable = false
        and task_type = #{taskType}
        and scene = #{scene}
        and type = #{type}
        and to_char(start_date,'yyyy-MM-dd') <![CDATA[<=]]> #{date}
        and to_char(end_date,'yyyy-MM-dd') >= #{date}
        and app_channel = #{appChannel}
    </select>

    <select id="queryByAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM community_task
        <where>
            <if test="null != taskDesc and '' != taskDesc">task_desc = #{taskDesc}</if>
            <if test="null != taskTitle and '' != taskTitle">and task_title = #{taskTitle}</if>
            <if test="null != taskReward and '' != taskReward">and task_reward = #{taskReward}</if>
            <if test="null != rewardRules and '' != rewardRules">and reward_rules = #{rewardRules}</if>
            <if test="null != rewardLimit and '' != rewardLimit">and reward_limit = #{rewardLimit}</if>
            <if test="null != taskType and '' != taskType">and task_type = #{taskType}</if>
            <if test="null != startDate">and start_date = #{startDate}</if>
            <if test="null != endDate">and end_date = #{endDate}</if>
            <if test="null != disable">and disable = #{disable}</if>
            <if test="null != type and '' != type">and type = #{type}</if>
            <if test="null != remark and '' != remark">and remark = #{remark}</if>
            <if test="null != appChannel and '' != appChannel">and app_channel = #{appChannel}</if>
        </where>
    </select>

    <select id="selectLinkUrl" resultMap="BaseResultMap">
        SELECT
        -- link_url as "linkUrl",
          --      ID
        *
        FROM community_task
        WHERE app_channel = 'qtx'
          AND ID IN
              (#{busTaskId,jdbcType=VARCHAR},
        #{helloBikeTaskId,jdbcType=VARCHAR},
        #{metroTaskId,jdbcType=VARCHAR},'SHARE001','SIGNIN00001','EHD8472JSDS','STEP001'
        )
    </select>

    <select id="selectLinkUrlHtx" resultMap="BaseResultMap">
        SELECT
        -- link_url as "linkUrl",
        -- ID
        *
        FROM community_task
        WHERE app_channel = 'htx'
        AND ID IN
        (#{busTaskId,jdbcType=VARCHAR},
        #{helloBikeTaskId,jdbcType=VARCHAR},
        #{metroTaskId,jdbcType=VARCHAR},'SHARE001_htx','SIGNIN00001_htx','EHD8472JSDS_htx','STEP001_htx'
        )
    </select>


    <select id="getUserCarbonYear" resultType="java.lang.String">
        SELECT
        EXTRACT(YEAR FROM create_date) AS year
        FROM
        carbon_assets_record
        WHERE
        owner_id = #{ownerId,jdbcType=BIGINT}
        GROUP BY
        year
        ORDER BY
        year
    </select>
</mapper>