<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqjk.third.mapper.CustomerTokenThirdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="CustomerTokenThirdResult" type="com.lqjk.third.beans.CustomerTokenThird">
        <id column="id" property="id" />
        <result column="token" property="token" />
        <result column="channel" property="channel" />
        <result column="validity_time" property="validityTime" />
        <result column="customer_equipment" property="customerEquipment" />
        <result column="disabled" property="disabled" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="remark" property="remark" />
        <result column="owner_id" property="ownerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectCustomerTokenThirdVo">
     select id, token, channel, validity_time, customer_equipment, disabled, create_by, create_date, update_by, update_date, remark, owner_id from customer_token_third
    </sql>

    <select id="selectById" parameterType="Long" resultMap="CustomerTokenThirdResult">
        <include refid="selectCustomerTokenThirdVo"/>
        where id = #{id}
    </select>

    <select id="selectByCustomerTokenThird" parameterType="com.lqjk.third.beans.CustomerTokenThird" resultMap="CustomerTokenThirdResult">
        <include refid="selectCustomerTokenThirdVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="token != null and token != ''"> and token = #{token}</if>
            <if test="channel != null and channel != ''"> and channel = #{channel}</if>
            <if test="validityTime != null and validityTime != ''"> and validity_time = #{validityTime}</if>
            <if test="customerEquipment != null and customerEquipment != ''"> and customer_equipment = #{customerEquipment}</if>
            <if test="disabled != null "> and disabled = #{disabled}</if>
            <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
            <if test="remark != null and remark != ''"> and remark = #{remark}</if>
            <if test="ownerId != null "> and owner_id = #{ownerId}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.lqjk.third.beans.CustomerTokenThird">
        insert into customer_token_third
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="token != null">token,</if>
            <if test="channel != null">channel,</if>
            <if test="validityTime != null">validity_time,</if>
            <if test="customerEquipment != null">customer_equipment,</if>
            <if test="disabled != null">disabled,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="remark != null">remark,</if>
            <if test="ownerId != null">owner_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="token != null">#{token},</if>
            <if test="channel != null">#{channel},</if>
            <if test="validityTime != null">#{validityTime},</if>
            <if test="customerEquipment != null">#{customerEquipment},</if>
            <if test="disabled != null">#{disabled},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="remark != null">#{remark},</if>
            <if test="ownerId != null">#{ownerId},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.lqjk.third.beans.CustomerTokenThird">
        update customer_token_third
        <trim prefix="SET" suffixOverrides=",">
            <if test="token != null">token = #{token},</if>
            <if test="channel != null">channel = #{channel},</if>
            <if test="validityTime != null">validity_time = #{validityTime},</if>
            <if test="customerEquipment != null">customer_equipment = #{customerEquipment},</if>
            <if test="disabled != null">disabled = #{disabled},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from customer_token_third where id = #{id}
    </delete>

    <select id="selectByChannelAndToken" resultMap="CustomerTokenThirdResult">
        SELECT *
        FROM customer_token_third
        WHERE channel = #{thirdChannel,jdbcType=VARCHAR}
          and token = #{token,jdbcType=VARCHAR}
          and disabled = false
    </select>

    <select id="selectByOwnerId" resultMap="CustomerTokenThirdResult">
        SELECT *
        FROM customer_token_third
        WHERE owner_id = #{ownerId,jdbcType=BIGINT} LIMIT 1
    </select>

    <delete id="deleteCustomerTokenByOwnerId">
        DELETE FROM customer_token_third WHERE channel = #{thirdChannel,jdbcType=VARCHAR}
          and token = #{token,jdbcType=VARCHAR}
    </delete>
</mapper>
