<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lqjk.third.mapper.MetroTemporaryRecordMapper">
    <insert id="insert">
        INSERT INTO metro_temporary_record(
            trx_type,
            card_id,
            handle_date_time,
            handle_station_code,
            tikcet_trans_seq
        )VALUES (
            #{trxType},
            #{cardId},
            #{handleDateTime},
            #{handleStationCode},
            #{tikcetTransSeq}
        )
    </insert>
    <select id="findLastStation" resultType="com.lqjk.third.beans.MetroTemporaryRecord">
        SELECT trx_type trxType,card_id cardId,handle_date_time handleDateTime,
               handle_station_code handleStationCode,tikcet_trans_seq tikcetTransSeq
               FROM metro_temporary_record where trx_type = '01' and card_id = #{cardId}
               and tikcet_trans_seq = #{tikcetTransSeq} order by handle_date_time desc limit 1
    </select>
</mapper>