<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lqjk.third.mapper.StationMapper">

    <resultMap type="com.lqjk.third.beans.Station" id="StationResultMap">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="createDate" column="create_date"/>
        <result property="disable" column="disable"/>
        <result property="exchangeStation" column="exchange_station"/>
        <result property="hotStation" column="hot_station"/>
        <result property="itpCode" column="itp_code"/>
        <result property="itpNameCn" column="itp_name_cn"/>
        <result property="itpNameEn" column="itp_name_en"/>
        <result property="lineName" column="line_name"/>
        <result property="lastUpdate" column="last_update"/>
        <result property="name" column="name"/>
        <result property="originStop" column="origin_stop"/>
        <result property="pinyin" column="pinyin"/>
        <result property="pinyinShort" column="pinyin_short"/>
        <result property="stationImage" column="station_image"/>
        <result property="svgLocation" column="svg_location"/>
        <result property="svgTYLocation" column="svg_t_y_location"/>
        <result property="svgYLocation" column="svg_y_location"/>
        <result property="svgTXLocation" column="svg_t_x_location"/>
        <result property="svgXLocation" column="svg_x_location"/>
        <result property="textLocation" column="text_location"/>
        <result property="xLocation" column="x_location"/>
        <result property="xls" column="xls"/>
        <result property="yls" column="yls"/>
        <result property="yLocation" column="y_location"/>
    </resultMap>

    <select id="findStationByItpCode" resultMap="StationResultMap">
        select *
        from metro_station
        where disable = false and itp_code = #{itpCode}
        order by id
        limit 1
    </select>

    <select id="findStationById" resultMap="StationResultMap">
        SELECT *
        FROM metro_station
        WHERE id = #{id}
        LIMIT 1
    </select>


    <select id="queryStationByName" resultMap="StationResultMap">
        SELECT *
        FROM metro_station
        <if test="stationName!=null">
            where name like '%${stationName}%'
        </if>
    </select>
    <select id="queryStationByNameOne" resultMap="StationResultMap">
        SELECT *
        FROM metro_station
        <if test="stationName!=null">
            where name like '%${stationName}' limit 1
        </if>
    </select>

    <select id="queryAllStations" resultMap="StationResultMap">
        SELECT *
        FROM metro_station
        where disable = false
        ORDER BY id
    </select>

    <select id="queryStationByLineName" resultMap="StationResultMap">
        SELECT *
        FROM metro_station
        WHERE line_name = #{lineName}
        ORDER BY id
    </select>


    <select id="queryStationByMetroLine" resultMap="StationResultMap">
        SELECT ms.*
        FROM metro_station ms LEFT JOIN metro_ls ls ON ms.id = ls.station_id
        WHERE ls.metro_line_id = #{metroLineId}
        ORDER BY ls.order_seq
    </select>
    
    <select id="findExitStationByItpCode" resultMap="StationResultMap">
        select *
        from metro_station
        where itp_code = #{itpCode}
        order by id
        limit 1
    </select>
    
</mapper>