<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zac.flycloud.mapper.SysDeptMapper">

	<select id="queryUserDeparts" parameterType="String" resultType="com.zac.flycloud.tablemodel.SysDept">
	   select * from sys_dept where uuid IN ( select dept_uuid from sys_user_dept where user_uuid = #{userUuid} )
	</select>

    <!-- 根据username查询所拥有的部门 -->
    <select id="queryDepartsByUsername" parameterType="String" resultType="com.zac.flycloud.tablemodel.SysDept">
        SELECT *
        FROM sys_dept
        WHERE uuid IN (
            SELECT dept_uuid
            FROM sys_user_dept
            WHERE user_uuid = (
                SELECT uuid
                FROM sys_user
                WHERE username = #{username}
            )
        )
    </select>

    <!-- 根据部门Id查询,当前和下级所有部门IDS -->
    <select id="getSubDepIdsByDepId" resultType="java.lang.String">
		select id from sys_dept where del_flag = '0' and org_code like concat((select org_code from sys_dept where id=#{departId}),'%')
	</select>

    <!--根据部门编码获取我的部门下所有部门ids -->
    <select id="getSubDepIdsByOrgCodes" resultType="java.lang.String">
		select uuid from sys_dept where del_flag = '0' and
        <foreach collection="orgCodes" item="item" index="index"  open="(" separator="or" close=")">
            org_code LIKE CONCAT(#{item},'%')
        </foreach>
	</select>

</mapper>